@import "tailwindcss";

#root {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: clamp(400px, 100%, 1200px);
  margin-inline: auto;
}
.layout{
  display: flex;
  flex-direction: column;
  flex:1;

}
.quote,
.mood,
.todo,
.focus {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  background-image: linear-gradient(#382899, #222222);
  text-align: center;
  overflow: auto;
}

.focus, .todo{
  position:relative;

  > button{
    position: absolute;
    bottom: 2rem;
    right:2rem;
  }
}