#root{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: auto;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr 1fr 1fr;
  gap:2rem;
  flex:1;
  background: #330c98;
  overflow: scroll;
}
header{
  grid-column: span 2;
  background-color: #1f1c1f;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.mood, .focus, .quote, .todo{
  display: flex;
  flex-direction: column;
  background-image:linear-gradient(to bottom, rgb(82, 20, 99), #2f0733);
  border:1px solid grey;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: clamp(300px, 100%, 600px);
  justify-self: center;
}
.mood > div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-block: auto;
}
.focus{
  position: relative;
  > .focusText{
    min-height:50%;
    margin-block: auto;
    padding: 1rem;
    outline: none;
  }
  > button{
    position: absolute;
    bottom:2rem;
    right:2rem;
  }
}

.todo{
  position: relative;
  > button{
    position:absolute;
    bottom: 2rem;
    right:2rem;
  }
}